<section class="about">
  <div class="about-content">
    <h2>About Me</h2>
    <div class="profile">
      <img src="../assets/profile.jpeg" alt="Ma photo">
      <h3>Benjamin Perchepied</h3>
      <h4>Full Stack Developer</h4>
    </div>
    <div class="description">
      <p>I am passionate about web development and have extensive experience in creating interactive web applications.</p>
      <p>I enjoy solving problems and creating innovative solutions using the latest technologies.</p>
    </div>
    <div class="skills">
      <h4>Skills</h4>
      <ul>
        <li>HTML5</li>
        <li>CSS3</li>
        <li>JavaScript</li>
        <li>.NET</li>
        <li>Angular</li>
        <li>PosgreSQL</li>
      </ul>
    </div>
    <div class="contact">
      <p>Feel free to contact me to discuss interesting projects or to learn more about my experience.</p>
      <a routerLink="/contact">Contact Me !</a>
    </div>
  </div>
</section>
