<section class="projects">
  <div class="project-content">
    <h2>My Projects</h2>
    <div class="project-list">
      <div class="project-item">
        <div class="project-image">
          <img src="../assets/c.jpeg" alt="Projet 1">
        </div>
        <div class="project-details">
          <h3>Knowledge 4.0</h3>
          <p>I am currently working on a project to develop a web application that aims to capitalize on the knowledge assets of a company. The objective is to create a centralized platform where employees can effectively share, organize, and access valuable information, ensuring the preservation and easy accessibility of critical knowledge throughout the organization. The application features a knowledge repository, collaboration tools, categorization, and analytics capabilities. By implementing this application, the company will be able to enhance knowledge management, foster collaboration, and drive innovation. I am excited to be part of this ongoing project, providing a solution that empowers the company to harness its knowledge for future growth and success.</p>
          <br/>
          <a>Statut : in progress</a>
        </div>
      </div>
      <div class="project-item">
        <div class="project-image">
          <img src="../assets/jerry-zhang-onxvkzldsj0-unsplash.jpeg" alt="Projet 2">
        </div>
        <div class="project-details">
          <h3>TravelLive</h3>
          <p>I completed a project to develop a travel application called TravelLive. The goal was to provide users with the ability to discover and visit places in France while also allowing them to create events. The application offered a user-friendly interface for searching, exploring, and planning trips to various points of interest in France. Users could access detailed information about tourist sites, including descriptions, photos, and reviews from other travelers. Additionally, they had the option to create events and share their experiences with other app users. This project allowed me to combine my passion for travel with app development to provide users with an interactive platform to explore France and customize their travel experiences.</p>
          <br/>
          <a>Statut : finish</a>
        </div>
      </div>
      <div class="project-item">
        <div class="project-image">
          <img src="../assets/nacelle.jpeg" alt="Projet 3">
        </div>
        <div class="project-details">
          <h3>Intranet for a repair team</h3>
          <p>I completed a project to develop an intranet for our nacelle repair team in the aerospace industry. The goal was to create a centralized platform that would facilitate the management of repair processes, the sharing of critical information, and the improvement of our maintenance operations. Key features of this intranet included task tracking, a domain-specific knowledge base, customized incident reporting, and collaboration tools tailored to our needs. The project resulted in enhanced efficiency, reduced downtime, and ensured optimal compliance with aerospace safety standards. I take pride in successfully delivering this project and creating a bespoke solution for our nacelle repair team.</p>
          <br/>
          <a>Statut : finish</a>
        </div>
      </div>
    </div>
  </div>
</section>
