<section class="home">
  <div class="home-content">
    <h2>Welcome to my portfolio !</h2>
    <p>I am a passionate developer specializing in web application development.</p>
    <p>On this site, you can explore my skills, browse through my projects, and learn more about me.</p>
    <p>I am always seeking new challenges and collaboration opportunities. Please feel free to contact me to discuss your projects and ideas. Send now.</p>
  <a class="cta-button" routerLink="/about">About Me !</a>
  </div>
</section>
